<div class="row user">
  <img class="col-md-4 user-avatar-image" src="http://www.gravatar.com/avatar/<%= Digest::MD5.hexdigest @user.email %>">
  <div class="col-md-8">
    <div class="col-md-8">
      <h2><%= @user.username %></h2>
      <%= @user.first_name %>
      <%= @user.last_name %>
    </div>
    <div class="col-md-8">
      <h4>Job Search Began: <%= @user.created_at %></h4>
    </div>
    <div class="col-md-8">
      <h4>Application made: <%= @user.job_applications.count %></h4>
    </div>
  </div>
</div>
<div class="row user-graphs">
  <div class="col-md-10 col-center">
    <h2>Job Applications by Day</h2>
    <%= column_chart @user.job_applications.group_by_day(:date_submitted).count %>
  </div>
  <hr />
  <div class="col-md-10 col-center">
    <h2>Job Applications Status Ratio</h2>
    <%= pie_chart @user.job_applications.group(:status).count %>
  </div>
</div>
