<%= form_for @job_application, html: {multipart: true}, remote: true do |f| %>
  <div class="form-group">
    <%= f.label :job_applied_for %>
    <%= f.text_field :job_applied_for, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :date_submitted, "Date Submitted (defaults to the current date)" %>
    <%= f.date_field :date_submitted, value: Date.today, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.submit "Update Application", class: "btn btn-warning form-control" %>
  </div>
<% end %>
