<%= form_for @job_application, html: {multipart: true}, remote: true do |f| %>
  <div class="form-group">
    <%= f.label :job_applied_for %>
    <%= f.text_field :job_applied_for, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :date_submitted, "Date Submitted (defaults to the current date)" %>
    <%= f.date_field :date_submitted, value: Date.today, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.button "Update Application", type: 'submit', class: "btn btn-warning form-control", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i>"} %>
  </div>
<% end %>
