<div class="row">
  <div class="col-md-2">
    <%= job_application.date_submitted %>
  </div>
  <% if job_application.company %>
    <div class="col-md-2">
      <%= job_application.company.name %>
    </div>
  <% end %>
  <div class="col-md-2">
    <%= job_application.status  %>
  </div>
  <div class="col-md-2">
    <%= link_to "View Application", job_application_path(job_application), method: "get" %>
  </div>
  <div class="col-md-2">
    <%= link_to "delete", job_application_path(job_application), method: "delete", remote: true %>
  </div>
</div>

