<% javascript_include_tag 'job_application' %>
<div id="job-application-edit-button-<%= job_application.id.to_s %>">
  <%= link_to "Edit", edit_job_application_path(job_application), remote: true, class: "btn btn-warning" %>
</div>
<div id="job-application-show-container-<%= job_application.id.to_s %>" class="job-application-show-container">
  <div class="row">
    <div class="col-md-10 col-center">
      <h2 class="job-applied-for"><%= job_application.job_applied_for %></h2><hr>
    </div>
  </div>
  <% if job_application.company %>
    <div class="row application-company-info col-center">
      <h2 class="job-application-company-title"><%= job_application.company.name %></h2>
      <div id="job-application-company-image-<%= job_application.id.to_s %>">
        <!-- company image goes here, pulled from glassdoor api -->
      </div>
      <div class="col-md-3 col-center">
        <h4>
          <%= job_application.company.address %>
        </h4>
      </div>
      <div class="col-md-3 col-center">
        <h4>
          <a href="<%= job_application.company.website %>"><%= job_application.company.website %>
          </a>
        <h4>
      </div>
      <div class="job-application-company-rating" id="job-application-company-rating-<%= job_application.id.to_s %>">
        Company Rating: <span class="stars overall-rating"></span>
        <button class="btn btn-primary" onClick="toggleClosestRatingInfo(this)">More rating info</button>
        <div hidden class="more-rating-info">
          Compensation: <span class="rating-span compensation-rating stars">n/a</span>
          Culture and Values: <span class="rating-span culture-and-values-rating stars">n/a</span>
          Career Opportunity: <span class="rating-span career-op-rating stars">n/a</span>
        </div>
      </div>
    </div>
  <% else %>
    <h3>No Company assigned to this application</h3>
  <% end %>
  <hr>
  <div class="application-info row">
    <div class="col-md-10 col-center">
      <h3>Date Submitted: <%= job_application.date_submitted %></h3>
    </div>
    <div class="col-md-10 col-center application-status">
      <h3>Status: <%= job_application.status %></h3>
    </div>
    <% if job_application.resume.file? %>
      <h3>Resume:</h3>
      <iframe class="col-md-8 col-center file-attachment" src="<%= job_application.resume.url %>"></iframe>
    <% else %>
      <div class="col-md-8 col-center">
        <h4>No Resume Assigned</h4>
      </div>
    <% end %>
    <% if job_application.cover_letter.file? %>
      <h3>Cover Letter:</h3>
      <iframe class="col-md-8 col-center file-attachment" src="<%= job_application.cover_letter.url %>"></iframe>
    <% else %>
      <div class="col-md-8 col-center">
        <h4>No Cover Letter Assigned</h4>
      </div>
    <% end %>
  </div>
  <div id="job-application-<%= job_application.id.to_s %>-contacts">
    <% if current_user.contacts.length != 0 %>
      <div class="col-md-8 col-center">
        <h4>Contacts</h4>
        <div class="table-responsive">
          <table id="table-<%= job_application.id %>"class="table table-striped" style="text-align: left;">
            <th>
              Last Name
            </th>
            <th>
              First Name
            </th>
            <th>
              Email
            </th>
            <th>
              Phone Number
            </th>
            <% job_application.contacts.each do |contact| %>
              <tr>
                <td><%= contact.last_name || "n/a" %></td>
                <td><%= contact.first_name || "n/a" %></td>
                <td><a href="mailto:<%= contact.email_address %>"><%= contact.email_address || "n/a" %></td>
                <td><%= contact.phone_number || "n/a" %></td>
              </tr>
            <% end %>
          </table>
        </div>
      </div>
      <button type="button" class="btn btn-primary" onClick="showJobApplicationContactForm(<%= job_application.id.to_s %>)">Add a Contact</button>
      <div id="job-application-<%= job_application.id.to_s %>-contact-form" hidden>
        Add a contact:
        <%= form_tag "/job_applications/#{job_application.id.to_s}/add_contact", method: 'post', remote: true, class: "form-inline" do %>
          <%= hidden_field_tag :id, job_application.id %>
          <%= select_tag :contact_id, options_for_select(current_user.contacts.map { |c| [((c.first_name || "n/a") + " " + (c.last_name || "n/a")), c.id] }, job_application.status), class: "form-control" %>
          <%= submit_tag "+", class: "btn btn-success" %>
        <% end %>
        <%= link_to 'go here to add new contacts', user_contacts_path(current_user) %>
      </div>
    <% else %>
      <div id="job-application-<%= job_application.id.to_s %>-contact-form" hidden>
        <%= link_to "No Contacts, go here to add one", user_contacts_path(current_user) %>
      </div>
    <% end %>
  </div>
  <h6>Ratings: <a href='https://www.glassdoor.com/index.htm'>powered by <img src='https://www.glassdoor.com/static/img/api/glassdoor_logo_80.png' title='Job Search' /></a></h6>
</div>
