<% if @job_application.company %>
  <div class="application-company-info">
    <h3><%= @job_application.company.name %></h3>
    <%= @job_application.company.address %>
    <a href="<%= @job_application.company.website %>"><%= @job_application.company.website %></a>
  </div>
<% else %>
  <h3>No Company assigned to this application</h3>
<% end %>
<div class="application-info row">
  <div class="application-status">
    <%= @job_application.status %>
  </div>
  <%= @job_application.date_submitted %> 
  <iframe src="<%= @job_application.resume.url %>"></iframe>
</div>
