<%= form_for @company, url: { controller: "companies", action: "create", method: "post" }, remote: true do |f| %>
  <%= f.hidden_field :user_id, value: 1 %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :address %>
    <%= f.text_field :address, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :website %>
    <%= f.text_field :website, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.submit "Create a Company", class: "btn btn-block btn-success company-submit" %>
  </div>
<% end %>
